body {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'sans-serif';
    color: white;
}
p {
    margin: 5px;
    padding: 0;
    opacity: 0.8;
}
h1 {
    padding: 30px 0 20px;
}
h3 {
    font-weight: 400;
}
ul {
    padding: 0;
    list-style-type: none;
    font-size: 0px;
    box-sizing: border-box;
    border: 3px solid white;
    cursor: default;
}
li {
    padding: 40px 0 35px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    box-sizing: border-box;
    border: 3px solid white;
}
#bg1 {
    background-color: #2B81AC;
    padding: 25px 0;
}
.main-bl {
    padding: 0 210px 140px 210px;
    max-width: 900px;
    margin: 0 auto;
    background-color: #3399CC;
}
.width-25 {
    width: 25%;
}
.width-50 {
    width: 50%;
}
.width-100 {
    width: 100%;
}
li:nth-child(1) {
    background-color: #3399CC;
}
li:nth-child(2) {
    background-color: #33CCCC;
}
li:nth-child(3) {
    background-color: #996699;
}
li:nth-child(4) {
    background-color: #C24747;
}
li:nth-child(5) {
    background-color: #E2674A;
}
li:nth-child(6) {
    background-color: #FFCC66;
}
li:nth-child(7) {
    background-color: #99CC99;
}
li:nth-child(8) {
    background-color: #669999;
}
li:nth-child(9) {
    background-color: #CC6699;
}
li:nth-child(10) {
    background-color: #339966;
}
li:nth-child(11) {
    background-color: #666699;
}
li.wi {
    font-size: 24px;
    opacity: 0.8;
}
div ul li:hover{
    opacity: 1;
    -webkit-transition: all .2s ease-in;
     -moz-transition: all .2s ease-in;
     -o-transition: all .2s ease-in;
     transition: all .2s ease-in;
}
ul:hover li {
    opacity: 0.4;
    -webkit-transition: all .2s ease-in;
     -moz-transition: all .2s ease-in;
     -o-transition: all .2s ease-in;
     transition: all .2s ease-in;
}
 